<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo-list</title>
  </head>
  <body>
  <% if(kindOfDay === 0 || kindOfDay === 6){ %>
    <h1 style="color: red"> Its a <%=kindOfDay%> </h1>
  <% } else { %>
    <h1 style="color: blue"> Its a <%=kindOfDay%>
  <% } %>
  </body>
</html>
